.black{
    background-color: black;
}
.dark-background{
    background-color: rgb(31, 31, 31);
}
.moon{
    color: white;
}
.text-white{
    color: white;
}
.dark-design-background{
    background-image: url("./background.jfif");
    /* background-image: url("./background.jfif"); */
    background-repeat: repeat-y;
    background-size: contain;
}
.darkmode-button{
  background-color: rgba(77, 82, 88, 0.356);
}
.darkmode-button i{
    color: #007ee6;
}
.darkmode-button:hover{
    background-color: rgba(77, 82, 88, 0.822);
}

.dark-create-memo-bg{
    background-color: rgba(0, 0, 0, 0.911);
}
.dark-create-memo-bottom{
    border-bottom: 1px solid white;
}

.absolute-div.codedark{
    background-color: rgba(0, 0, 0, 0.63);
}

.codedark .fas{
    color: rgb(245, 208, 129);
}

.absolute-div.memodark{
  background-image: linear-gradient(to right,rgb(0, 16, 46), rgb(9, 68, 134), rgb(0, 17, 53));
}
